<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nguyentin.catchyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".CatchyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_catchy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity android:name=".startup.HomeActivity"></activity>
        <activity android:name=".NavSignInOrSignUpActivity" />
        <activity android:name=".LoginActivity"
            android:noHistory="true"></activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignUp2Activity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".InterestActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".camera.CheckPictureActivity" />
        <activity android:name=".camera.CropImageActivity" />
        <activity android:name=".camera.ImagePickerActivity" />
        <activity android:name=".activity.ExploreActivity" />
        <activity android:name=".ui.view.CatchyCamera" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntroActivity" />
        <activity android:name=".activity.PreLoginActivity"
            android:theme="@style/PreLoginTheme"
            android:noHistory="true"></activity>
    </application>

</manifest>